.content{
	display: flex;
	flex-wrap: wrap;
	padding-left: 10%;

}

.film{
	flex-basis: 19%;
	margin: 5px;
}

div.film > h1{
	font-size: 0.9em;
}

.filmInfo{
	display: flex;
	flex-wrap: wrap;
	
	margin: 5px;
}

.filmInfo > img{
	max-height: 20vh;
}

.txtInfo{
	text-align: center;
	margin-top: 15%;
}

.filmTxt{
	font-size: 0.7em;
	margin-top: 3.5px;
	text-align: justify;
}

.gererFilm{
	display: block;
	color: rgba(20, 47, 167, 0.651);
	margin-top: 3vh;
}
div.rech{
	height: 100%;
	width: 10%;
	display: flex;
	position: absolute;
	flex-direction: column;
	background-color: lightgray ;
	padding: 10px;
}
