
{% extends "base.html" %}
{% block main %}

<head>
    <link rel="stylesheet" href="../static/css/home.css" type="text/css">
</head>

<div>

    <h1>CONTACTS</h1>
    <br>
    <h2>Membres du groupe: </h2>
    <ul>
        <li> DEVIGNES Nolann </li>
        <li> ZIANI Ayoub </li>

    </ul>
    <br>
    <h2>Nous contacter: </h2>
    <br>
    <p>support@protify.fr</p>
    <br>
    <p>nolannd@protify.com</p>
    <br>
    <p>ayoubz@protify.com</p>
    <br>

    
</div>
{% endblock main %}