{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super() }}
<link href="../static/css/home.css" rel="stylesheet">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="imgPro"> 
        <img src="../static/img/protify.png" href="#">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/music">Toutes les musiques</a>
            </li>
            {% block connect %}
                {% if current_user.is_authenticated %}
                    <li class="nav-item active">
                    <a class="nav-link" href="/logout">Se deconnecter</a>

                    </li>
                {% else %}
                    <li class="nav-item active">
                    <a class="nav-link" href="/login">Se connecter/S'inscrire</a>
                    </li>
                {%endif%}
            {% endblock connect %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/ajouter">Ajouter musique</a>
                    <a class="dropdown-item" href="/apropos">A propos</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>

                
                <form class="form-inline my-2 my-lg-0" >
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            <ul class="nav navbar-nav navbar-center">
                {% if current_user.is_authenticated %}
                    <li><a> Bonjour {{ current_user.username }}</a></li>
                {%endif%}
            </ul>
        </form>
    </div>
</nav>

{% endblock %}
{% block content %}
<main role="main" class="container">
{% block main %}{% endblock %}
</main>
{% endblock %}